body {
    background-color: rgb(197, 195, 176);
}

img {
    transform: translate3d(0px, 0px, 0px) scale3d(1.205, 1.205, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
    transform-style: preserve-3d; 
    will-change: transform;
}