body {
    max-width: 480px;
    background-color: rgba(255, 255, 255, 0.428);
    font-family: "Balsamiq Sans", serif;
    margin: 0 auto;
}

#background-img {
    margin-top: 5rem;
    left: 10%;
    position: absolute;
    z-index: -1;
    width: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(110, 110, 110, 0.188);
    box-shadow: 0 8px 32px 0 rgba(106, 4, 4, 0.669);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
header h3 {
    font-size: 1rem;
}
header h3:hover {
    color: #4CAF50;
}
header h1 {
    color: red;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(137, 1, 1);
}
header button {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 5px 12px 2px rgba(224, 3, 3, 0.635);
}
header button:hover {
    background-color: rgba(224, 3, 3, 0.635);
    box-shadow: 2px 5px 12px 2px #4CAF50;
}



.catch-phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.catch-phrase h2 {
    font-size: 4rem;
    margin-top: -12rem;
    text-align: center;
    color: rgb(187, 242, 171);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(137, 1, 1);
}
.catch-phrase h2:hover {
    color: #4CAF50;
}


span.picked-span {
    animation: fadeLeft 3700ms ease-in-out forwards;
}

 /* MODAL */
 .modal-whole{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 5rem 0 0 2rem;
    width: 80%;
    height: auto;
    z-index: 1;
    background-color: rgba(116, 243, 122, 0.14);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    line-height: 1rem;
    box-shadow: 0px 25px 20px -2px #4CAF50;
 }
 .x-modal {
    font-size: 1rem;
    color:red;
    border: none;
    background-color: transparent;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
.x-modal:hover {
    font-weight: 800;
    scale: 1.8;
}

.modal-wrapper{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    
}
.modal-wrapper h2{
    margin-top: 5rem;
}
.modal-wrapper h2,
.modal-wrapper h1{
    font-size: 2rem;
    color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(137, 1, 1);
}
.modal-wrapper h1{
    font-size: 4rem;
}
.modal-wrapper p{
    font-size: 1.5rem;
}

.modal-wrapper button {
    font-size: 2rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.modal-wrapper button:hover {
    background-color: #3e8e4133;
    border: 2px solid #4CAF50;
}
 /* SignUP */
.signup {
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.signup-box{
    width: 100%;
}
form.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.register-form label {
    margin-bottom: .3rem;
    margin-top: 0.7rem;
}
form.register-form input {
    border: none;
    border-radius: 10px;
    padding: .5rem .5rem .5rem .5rem;
    background-color: rgba(0, 77, 27, 0.412);
}
form.register-form button {
    font-size: 1rem;
    margin: 1rem 0;
    padding: .5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: #af4c4c;
    color: white;
    box-shadow: 0 8px 32px 0 rgba(142, 0, 0, 0.906);
}
/* END OF MODAL */


#beet-spin {
    margin-top: 5rem;
    width: 150px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slider {
    width: 100%;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 15px;
}

.list {
    position: absolute;
    top: 13%;
    left: 0%;
    height: 150%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list img {
    width: 100%;
    max-width: 100vw;
    height: 50%;
    object-fit: cover;
}
.item img:hover {
    scale: 1.5;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 95%;
    height: 12%;
    display: flex;
    justify-content: space-between;
}
.buttons img {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.buttons img:hover {
    scale: 1.5;
}
.after-food-hr {
    color: rgb(151, 0, 0);
    width: 85%;
}

/*  featured in  */
.featured-div {
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 0 7rem 0;
}
.feature-in {
    text-align: center;
}

.featured-marketing {
    display: flex;
    gap: 50px;
    position: absolute;
    animation: scroll 10s linear infinite;
    white-space: nowrap;
}
.featured-marketing img{
    width: 60%;
    height: 80px;
}

/* MEALS */
.meals {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
div.meal {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(151, 0, 0);
}
.test-about-meal{
    width: 100%;
}
.test-about-meal h2{
    font-size: 1rem;
    margin-left: 1rem;
    color:rgb(137, 1, 1)
}
.test-about-meal p {
    font-size: 0.8rem;
    margin-left: 1rem;
    width: 80%;
}
.meal-image {
    width: 80%;
}
.meal-image img {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

button.new-recipe-button {
  position: absolute;
  margin-left: 12rem; 
  background-color: #fbeee0;
  border: 2px solid #420000;
  border-radius: 30px;
  box-shadow: #420002 4px 4px 0 0;
  color: #420000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  padding: 0 10px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button.new-recipe-button:hover {
  background-color: #fff;
}

button.new-recipe-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.video-text {
    position: relative;
    background-color: rgba(250, 235, 215, 0.684);
}
#veggie-platter {
    margin-top: 1rem;
    width: 100%;
    box-shadow: 2px 5px 12px 2px #850a7e;
}

.text-over-video {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.text-over-video h2:hover{
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
}

.our-dishes {
    width: 100%;
    background-color: rgba(250, 235, 215, 0.684);
    padding-bottom: 3rem;
    padding-top: 1rem;
}
.new-offer-dish {
    text-align: center;
}
.new-offer-dish h2 {
    margin-top: 2rem;
}
.new-offer-dish h2 span {
    color:rgb(223, 11, 11);
    font-size: 3.2rem;
}
.new-offer-dish h2 span:hover {
    color: rgb(255, 243, 133);
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(16, 8, 8);
}

.dish-img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color:rgb(137, 1, 1)
}
.dish-img img:hover {
    scale: 1.5;
    transform: rotate(10deg);
}

.dish-img  img{
     width: 30%;
}
#beet-cake {
    width: 20%;
}

.location {
    margin-top: 4rem;
}
.location,
.location-destination {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location-destinations {
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-destinations img {
    width: 20%;
}
.location-destinations .location-destination:first-child{
    margin-top: 1rem;
}

.location-destination h3,
.location-destination h4,
.location-destination p{
        margin: 0.5rem;
}

footer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.684);
    backdrop-filter: blur(10px);
}
footer h4 {
    font-size: 1.5rem;
}
.socials {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.hidden{
    display: none;
}

@keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes fadeDown {
     0% {
        opacity: 0;
        transform: translateY(-250px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeUp {
     0% {
        opacity: 0;
        transform: translateY(150px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

 /* tablets */
@media (min-width: 768px) {
    body {
         max-width: 100%;
    }

    header {
        transition: 0.3s;
        padding: 0.1rem 0rem;
    }

    header h3 {
        transition: 0.3s;
        font-size: 1.2rem;
    }

    header h1 {
        transition: 0.3s;
        font-size: 2rem;
        margin-right: 6rem;
    }

    .catch-phrase h2 {
        font-size: 3rem;
    }

    .modal-whole{
        margin-left: 7rem;
    }

    .meals {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .meal {
        flex-direction: row;
        width: 48%;
        padding: 1rem;
    }
    .meal h2 {
        font-size: 1.5rem;
    }
    .meal p {
        font-size: 1rem;
    }

    .meal-image {
        width: 60%;
    }

    button.new-recipe-button {
        transition: 0.3s;
        margin-left: 31rem;
    }

    .featured-marketing img {
        width: 40%;
    }

    .text-over-video {
        transition: 0.3s;
        font-size: 3rem;
    }
}


/* Desktop View: 1024px and up */
@media (min-width: 1024px) {
    body {
        max-width: 100%;
    }

    header {
        transition: 0.3s;
        justify-content: center;
        padding: 0.1rem 1rem;
    }

    header h3 {
        transition: 0.3s;
        margin-right: 5rem;
        font-size: 1.5rem;
    }

    header h1 {
        transition: 0.3s;
        margin-right: 10rem;
        font-size: 2.5rem;
    }

    .catch-phrase h2 {
        transition: 0.3s;
        margin-top: -15rem;
        font-size: 7rem;
    }
    #beet-spin{
        transition: 0.3s;
        margin-top: 7rem;
    }

    .meals {
        transition: 0.3s;
        gap: 3rem;
    }
    .meal h2 {
        transition: 0.3s;
        font-size: 2rem;
    }
    .meal p {
        transition: 0.3s;
        font-size: 1rem;
    }

    .meal {
        transition: 0.3s;
        width: 30%;
    }
    .meal-image {
        transition: 0.3s;
        width: 90%;
    }
    button.new-recipe-button {
        transition: 0.3s;
        margin-left: 45rem;
    }

    .featured-marketing img {
        transition: 0.3s;
        width: 30%;
    }

    .text-over-video {
        transition: 0.3s;
        font-size: 4rem;
        left: 10%;
    }

    .dish-img img {
        transition: 0.3s;
        width: 20%;
    }

    .location{
        width: 100%;
    }
    .location-destinations{
        width: 60%;
        justify-content: space-around;
    }

    .location-destination {
        width: 30%;
        transition: 0.3s;
    }
}